.content {
  display: flex;
  justify-content: center;
  margin-bottom: 100px; // find a better solution

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
  }

  &__query {
    font-size: 43px;
    margin-bottom: 0;
  }

  &__results {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-between;
  }
}
