.content {
  display: flex;
  justify-content: center; }
  .content__wrapper {
    max-width: 1200px;
    width: 100%; }
  .content__query {
    font-size: 43px;
    margin-bottom: 0; }
  .content__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .content__result {
    flex-basis: 25%; }
