.header {
  background-color: #FFF;
  box-shadow: 0 2px 8px 0 rgba(183, 195, 243, 0.28);
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  width: 100%; }
  .header__nav {
    display: flex;
    align-items: center; }
  .header__nav-item {
    font-weight: bold;
    font-size: 16px;
    padding: 15px; }
    .header__nav-item:first-of-type {
      margin-left: 10px; }
  .header__search {
    display: flex;
    width: 100%;
    margin-left: 50px; }
  .header__title {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0; }
  .header__logo {
    height: 76px;
    width: 76px; }
  .header__menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end; }
    .header__menu-hover {
      position: absolute;
      top: 60px;
      left: 15px;
      width: 114px;
      background-color: #FFF;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
      padding: 0 10px; }
      .header__menu-hover-background {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
    .header__menu-username {
      font-size: 19px;
      font-weight: 700;
      padding: 15px; }
      .header__menu-username::after {
        content: 'v';
        display: inline;
        width: 10px;
        height: 1em;
        color: transparent;
        background-repeat: no-repeat;
        vertical-align: baseline;
        margin: 0 6px;
        background-position: center;
        background-size: 10px;
        background-image: url("../images/icons/arrow-down.svg"); }
    .header__menu-image {
      border-radius: 100%; }
  @media (max-width: 720px) {
    .header {
      flex-wrap: wrap; }
      .header__title {
        display: flex;
        flex-basis: 10%;
        align-items: center;
        order: 0; }
      .header__search {
        flex: 1 100%;
        order: 2;
        padding-top: 10px; }
      .header__menu {
        display: flex;
        align-items: center;
        flex-basis: 10%;
        justify-content: flex-end; } }
