.header {
  background-color: #5D9CEC;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: 100%; }
  .header__search {
    display: flex;
    flex-basis: 60%; }
  .header__title {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0; }
  .header__menu {
    display: flex;
    align-items: center;
    flex-basis: 10%;
    justify-content: flex-end; }
  @media (max-width: 720px) {
    .header {
      flex-wrap: wrap; }
      .header__title {
        display: flex;
        flex-basis: 10%;
        align-items: center;
        order: 0; }
      .header__search {
        flex: 1 100%;
        order: 2;
        padding-top: 10px; }
      .header__menu {
        display: flex;
        align-items: center;
        flex-basis: 10%;
        justify-content: flex-end; } }
