.result {
  width: 100%;
  border-bottom: 1px solid #B7C3F3;
  margin: 10px 0;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .result__image {
    width: 90px;
    height: 90px; }
  .result__song-actions {
    display: flex;
    justify-content: flex-end;
    flex-flow: column; }
  .result__song-action {
    width: 45px;
    height: 45px;
    margin: 0 20px; }
  .result__song-info {
    display: flex;
    margin-bottom: 10px; }
  .result__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 13px; }
  .result__text-song-name {
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: bold; }
  .result__text-song-artist {
    color: black;
    font-size: 21px; }
