.result {
  width: 100%;
  border-bottom: 1px solid #B7C3F3;
  margin: 10px 0;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: 90px;
    height: 90px;
  }

  &__song-actions {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
  }
  &__song-action {
    width: 45px;
    height: 45px;
    margin: 0 20px;
  }

  &__song-info {
    display: flex;
    margin-bottom: 10px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 13px;
  }
  &__text-song-name {
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: bold;
  }
  &__text-song-artist {
    color: black;
    font-size: 21px;
  }
}
