

.search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 355px;
  height: 100%;

  ::placeholder {
    color: #B7C3F3;
  }

  &__input {
    background: url("../images/icons/search.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 35px;

    height: 36px;
    font-size: 14px;
    color: rgba(10, 10, 10, 0.62);
    margin: 0;
    border: 0;
    border-radius: 40px;
    box-shadow: 0 2px 8px 0 rgba(183,195,243,0.28);
    border: 1px solid #B7C3F3;
    width: 100%;

    &:focus {
      text-align: left;
    }
  }

  &__button {
    height: 30px;
    width: 50px;
  }
}
